.usermain{
    background-color: rgba(189, 208, 203, 0.274);
    box-shadow: 10px 10px 10px rgba(40, 114, 95, 0.267);
    width: 40%;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
}

.usermain h1{
    color: rgba(103, 126, 121);
}

.usermain button{
    margin: auto;
}

.usermain input{
    border: none solid black;
    border-bottom:1px solid black;
    background-color: rgba(235, 248, 245, 0.208) ;
    border-radius: 0;
}

.usermain button{
    background-color:rgb(40, 114, 95) ;
    color: aliceblue;
    border-radius: 0;
    width: 80px;
    height: 30px;
    margin-bottom: 10px;
}

/* body{
    margin: 0;
    background-image: url('../../public/image/bg4.jpg');
    background-size: cover;
    height: 80vh;
} */